.screen--Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    height: 50vh;
}
.screen{
    width: 90%;
    height: 70%;
    border: solid brown 1px;
    border-radius: 5px;
}
.character{
    height: 100px;
    background-color: aqua;
}
.itemQuest{
    width: 25px;
    height: 25px;
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e34b8490-3521-4ea1-bf5f-eca2bd8cb8fa/dcci3yl-83e4a1b5-0631-49c0-a633-ac2835338874.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UzNGI4NDkwLTM1MjEtNGVhMS1iZjVmLWVjYTJiZDhjYjhmYVwvZGNjaTN5bC04M2U0YTFiNS0wNjMxLTQ5YzAtYTYzMy1hYzI4MzUzMzg4NzQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BQnATe3E0Uw3i5fBds-9kQJL8HFKuJIxg-OHzYMCjUw');
    border: solid black 1px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 200ms;
}

.itemQuest:hover{
    cursor: pointer;
    transform: scale(1.15);
}